body {
    font-family: "Open Sans";
    font-size: 16px;
}

img {
    max-width: 100%;
    border: solid 1px #eee;
    margin: 8px 0;
    padding: 4px;
}

h1 {
    font-size: 32px;
    font-weight: 400;
    padding-bottom: 24px;
}

blockquote {
    font-size: inherit;
    line-height: inherit;
}

.jumbotron {
    margin-top: -20px;
    padding-bottom: 0px;
    padding-top: 20px;
    background-color: #F7DF1E;
    /*color: #000;*/
}

.jumbotron h1 {
    font-family: "Open Sans";
    font-size: 36px;
    padding-bottom: 8px;
    font-weight: 300;
}

.jumbotron h2 {
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 300;
    margin-top: 0;
    padding-bottom: 20px;
    border-bottom: none;
}

.navbar {
    font-family: "Open Sans";
    background-color: #fcfcfc;
}

h3 {
    margin-top: 24px;
    margin-bottom: 12px;
    font-size: 17px;
}

li > ul {
    margin-bottom: 20px;
}

li > ul > li {
    margin-bottom: 10px;
}

#footer {
    margin-top: 40px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-top: solid 1px #eee;
}

.text-muted {
    color: #bbb;
    font-weight: 300;
    font-size: 14px;

}

blockquote {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #31708f;
    background-color: #d9edf7;
    border-color: #D9E8F7;
}

h2 {
    font-size: 24px;
    border-bottom: solid 1px #EEE;
    padding-bottom: 12px;
    margin-bottom: 20px;
    margin-top: 40px;
}

.index {
    list-style-position: inside;
    padding-left: 0;
    margin-bottom: 20px;
}

.index>li {
    border-left: solid 2px #FFF;
    padding: 8px 8px;
    padding-left:12px;
}

.index>li>a {
    text-decoration: none;
}

.index>li:hover {
    border-left: solid 2px #F7DF1E;
    text-decoration: none;
}

.styles {
    margin:10px 0;
}

.btn-yellow {
    background: #F7DF1E;
    color: #000;
    border: solid 1px #333;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.btn-yellow:hover, .btn-yellow:focus {
    background: #f3d909;
    border: solid 1px #000;
}

.btn-yellow:active {
    background: #f8e337;
    border: solid 1px #666;
}

.btn-xxl {
    padding: 12px 16px;
    font-size: 20px;
    border-radius: 2px;
}


.index-title {
    font-size: 20px;
    border-bottom: solid 1px #EEE;
    padding-bottom: 8px;
    margin-bottom: 12px;
    margin-top: 0;
    font-variant: small-caps;
}
