body {
    font-family: "Open Sans";
    font-size: 16px;
}

img {
    max-width: 100%;
    border: solid 1px #eee;
    margin: 8px 0;
    padding: 4px;
}

h1 {
    font-size: 32px;
    font-weight: 400;
    padding-bottom: 24px;
}

blockquote {
    font-size: inherit;
    line-height: inherit;
}

.btn-lg {
    border-radius: 4px;
    background-color: #F7DF1E;
    font-size: 22px;
    border-color: #747474;
}
.panel-default>.panel-heading {
    background-color: #f8f8f8;
}

.btn-lg:hover {
    background-color: rgba(244,244,244,.1);
    border-color: #000;
}



.jumbotron {
    margin-top: -20px;
    padding-bottom: 0px;
    padding-top: 0px;
    background-color: #F7DF1E;
    color: #000;
}

.jumbotron h1 {
    font-family: "Open Sans";
    font-size: 40px;
    margin-bottom: 40px;
}

.navbar {
    font-family: "Open Sans";
    background-color: #F7DF1E;
    border-color: #F7DF1E;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-brand {
    color: #000;
}

.navbar-brand {
    font-size: 22px;
}

h3 {
    margin-top: 24px;
    margin-bottom: 12px;
    font-size: 17px;
}

li > ul {
    margin-bottom: 20px;
}

li > ul > li {
    margin-bottom: 10px;
}

#footer {
    margin-top: 40px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-top: solid 1px #eee;
}

.text-muted {
    color: #bbb;
    font-weight: 300;
    font-size: 14px;

}

blockquote {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #31708f;
    /*color: #444;*/
    background-color: #d9edf7;
    /*background-color: rgba(247,233,30,.2);*/
    /*background-color: rgba(0,0,255,.2);*/
    border-color: #D9E8F7;
    /*border-color: #F7DF1E;*/
}

h2 {
    font-size: 24px;
    border-bottom: solid 1px #EEE;
    padding-bottom: 12px;
    margin-bottom: 20px;
    margin-top: 40px;
}

ol.list-group {
    list-style-position: inside;
    margin: 0;
}

.panel {
    border-radius: 2px;
}

.panel .list-group .list-group-item:hover {
    border-left: solid 4px #F7DF1E;
    background-color: #F9F9F9;
}

.panel .list-group .list-group-item {
    border-left: solid 4px #FFF;
}