{% include bootstrap-header.html %}

<div class="jumbotron">
    <div class="container">
        <div class="row" style="text-align: center">
            <img src="images/js.png" style="max-height: 160px;border: solid 1px #000;margin:8px 0 8px 0;"/>
            <h1 style="margin-bottom: 12px">ECMAScript 6 Tutorial</h1>
            <p style="padding-top:0;margin-bottom:40px"><a class="btn btn-default btn-lg" href="setup-environment.html" role="button">Start Now</a></p>
        </div>
    </div>
</div>
<div
        style="background-color: #f4f4f4;margin-top: -30px;border-bottom: solid 1px #ddd;padding:12px 0 6px 0;margin-bottom:30px;">
    <div class="container">
        <div class="row" style="text-align: center">
            <div style="margin-left: 30px;">
            <a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-url="http://ccoenraets/github.io/es6-tutorial" data-text="New ECMAScript 6 Tutorial #ES2015 #ES6 #JavaScript">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            </div>
        </div>
    </div>
</div>

<div class="container">
    {{ content }}
</div>

{% include bootstrap-footer.html %}
