{% include bootstrap-header.html %}

<div class="container">

<div class="row">

    <div class="col-sm-12 col-lg-8">
        <!--<hr/>-->
        {{ content }}
    </div>

    <div class="col-sm-12 col-lg-4 right-nav">

        <div class="index-title">index</div>
        <ol class="index">
            <li><a href="ecmascript6-setup-babel.html">Setting Up Babel</a></li>
            <li><a href="ecmascript6-let.html">Using let variables</a></li>
            <li><a href="ecmascript6-destructuring.html">Using Object Destructuring</a></li>
            <li><a href="ecmascript6-arrow-functions.html">Using Arrow Functions</a></li>
            <li><a href="ecmascript6-template-strings.html">Using Template Strings</a></li>
            <li><a href="ecmascript6-setup-webpack.html">Setting Up Webpack</a></li>
            <li><a href="ecmascript6-modules.html">Using Modules</a></li>
            <li><a href="ecmascript6-classes.html">Using Classes</a></li>
            <li><a href="ecmascript6-promises.html">Using Promises</a></li>
            <li><a href="next.html">Next Steps</a></li>
        </ol>


        <a href="https://twitter.com/share" class="twitter twitter-share-button" data-size="large" data-url="http://ccoenraets.github.io/es6-tutorial" data-text="ECMAScript 6 Tutorial with #Babel6 and #Webpack #ES2015 #ES6 #JavaScript">Tweet</a>

        <a class="twitter twitter-follow-button"
           href="https://twitter.com/ccoenraets"
           data-size="large">
            Follow @ccoenraets</a>

        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>


    </div>

</div>

<div class="row" style="margin-top: 30px;">
    <div class="col-sm-12">
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = 'es6tutorial'; // required: replace example with your forum shortname

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    </div>
</div>



</div>

{% include bootstrap-footer.html %}